---
import Underline from "../Underline.astro";
const millisecondsInYear = 3.15576e10;
const age = Math.floor(
  (new Date().getTime() - new Date(import.meta.env.SECRET_BIRTH_DATE).getTime()) / millisecondsInYear
);
const mailto = "mailto:"+import.meta.env.PUBLIC_EMAIL_ADDRESS ?? "";
const tel = "tel:"+import.meta.env.PUBLIC_PHONE_NUMBER?.replace(/\s+/g, "") ?? "";
---

<div id="about-me" class="row mx-2 gy-3">
  <div class="ms-xl-4 col-lg-4 col-xxl-3">
      <img
      class="profile-picture mt-5"
      src="/assets/profile-picture.png"
      alt="Image of Thomas van der Molen"
      id="profile-picture"
      />
    <br />
    <Underline initialWidth="0%">
      <a href={tel}>
        <i class="bi bi-telephone-outbound social-icon"></i>
        <span class="social-text">{import.meta.env.PUBLIC_PHONE_NUMBER}</span>
      </a>
    </Underline>
    <br />
    <Underline initialWidth="0%">
      <a href={mailto}>
        <i class="bi bi-envelope-at-fill social-icon"></i>
        <span class="social-text">{import.meta.env.PUBLIC_EMAIL_ADDRESS}</span>
      </a>
    </Underline>
  </div>
  <div class="col-lg-8 col-xl-7">
    <div class="d-flex justify-content-between align-items-end">
      <h2 class="title">About Me</h2>
      <a href="files/cv.pdf" download="CV_ThomasVanDerMolen" class="mb-1"
        ><i class="bi bi-download me-1"></i>download my cv</a
      >
    </div>
    <hr class="mt-0" />
    <div class="about-me-text">
      <p>
        My name is <b>Thomas Van der Molen</b> and I am a {age} year old student at the
        <a href="https://fontys.edu/" target="_blank">Fontys University of Applied Sciences</a>, where I am studying for a double mayor in <b>Software Engineering</b> & <b>Artificial Inteligence</b>.
      </p>
      <p>
        Throughout recent years, I have gained valuable hands-on experience collaborating with small and largebusinesses alike.<br />
        This journey has allowed me to successfully investigate and execute projects in a large variety of domains,
        together with other like-minded enthousiastic people.
      </p>
      <p>
        I have gained extensive experience in developing business-oriented solutions with a focus on scalability and maintainability.
        My expertise lies primarily within the realm of web solutions, 
        encompassing the development of full-stack applications, including robust DevOps pipelines and seamless Cloud integrations.
      </p>
    </div>
    <h3>Some companies I have worked with</h3>
    <hr class="mt-0" />
    <div class="row row-cols-3 row-cols-sm-6 gy-3">
      <div class="col">
        <a href="https://www.basworld.com/" target="_blank">
          <img
            src="/assets/bas-trucks.png"
            alt="Bas Trucks"
            title="Bas Trucks"
            data-tooltip-placement="top"
            class="company-image"
          />
        </a>
      </div>
      <div class="col">
        <a href="https://stuur.men/" target="_blank">
          <img
            src="/assets/stuurmen.png"
            alt="Stuurmen"
            title="Stuurmen"
            data-tooltip-placement="top"
            class="company-image"
          />
        </a>
      </div>
      <div class="col">
        <a href="https://www.authore.com/default.html" target="_blank">
          <img
            src="/assets/author-e.png"
            alt="Author-e"
            title="Author-e"
            data-tooltip-placement="top"
            class="company-image"
          />
        </a>
      </div>
      <div class="col">
        <a href="https://jugo.nl/" target="_blank">
          <img
            src="/assets/jugo.png"
            alt="Jugo"
            title="Jugo"
            data-tooltip-placement="top"
            class="company-image"
          />
        </a>
      </div>
      <div class="col">
        <a href="https://mkeducatie.nl/" target="_blank">
          <img
            src="/assets/mk-educatie.png"
            alt="MK Educatie"
            title="MK Educatie"
            data-tooltip-placement="top"
            class="company-image"
          />
        </a>
      </div>
      <div class="col">
        <a href="https://podoprinter.com/" target="_blank">
          <img
            src="/assets/podoprinter.png"
            alt="PodoPrinter"
            title="PodoPrinter"
            data-tooltip-placement="top"
            class="company-image"
          />
        </a>
      </div>
      <div class="col">
        <a href="https://www.klantfocus.nu/" target="_blank">
          <img
            src="/assets/klantfocus.png"
            alt="KLantfocus"
            title="KLantfocus"
            data-tooltip-placement="top"
            class="company-image"
          />
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  .profile-picture {
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 350px;
  }
  .title {
    font-size: 2.5rem;
  }
  .about-me-text a {
    text-decoration: underline;
  }

  .social-icon {
    font-size: 1.8rem;
  }

  .company-image {
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 140px;
    transition: transform 1s, box-shadow 1.5s;

    box-shadow: 7px 7px var(--card-shadow);
  }
  .company-image:hover {
    transform: scale(1.2);
    box-shadow: none;
  }
</style>
