---
import AccentCard from "../AccentCard.astro";
import Card from "../Card.astro";
import Graduation from "../Statistics/Graduation";
import LinkedInPosition from "../Statistics/LinkedInPosition.astro";
import HostingCosts from "../Statistics/HostingCosts";
import ProjectLanguages from "../Statistics/ProjectLanguages";
import Underline from "../Underline.astro";

// Obtain the start and end date set for education, these will be used to calculate the graduation statistics
const start = new Date(import.meta.env.SECRET_START_EDUCATION);
const end = new Date(import.meta.env.SECRET_GRADUATION);

// Execute data fetching on the server, as to avoid exposing secrets
// Obtain language data for project language split chart
const languageData: { [language: string]: number } | null = await fetch(
  `${import.meta.env.SECRET_DATA_AGGREGATE_URL}/api/RepositoryLanguages`+
  `?user=${import.meta.env.SECRET_REPOSITORY_USER}`+
  `&repo=${import.meta.env.SECRET_REPOSITORY}`+
  `&code=${import.meta.env.SECRET_DATA_AGGREGATE_KEY}`
)
  .then((response) => {
    return response.json();
  })
  .catch((error) => null);

// Obtain hosting data for hosting cost breakdown chart
const hostingCosts: { [service: string]: number } | null = await fetch(
  `${import.meta.env.SECRET_DATA_AGGREGATE_URL}/api/HostingCosts`+
  `?code=${import.meta.env.SECRET_DATA_AGGREGATE_KEY}`
)
  .then((response) => {
    return response.json();
  })
  .catch((error) => null);
---

<div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1 gx-5 gy-3 w-100 mx-0">
  <div class="col">
    <AccentCard
      title="Days until Graduation"
      accent="#00b4d8"
      icon="calendar-fill"
    >
      <Graduation  
        start={start}
        end={end}
        color={"#00b4d8"}
        client:load/>
    </AccentCard>
  </div>
  <div class="col">
    <AccentCard
      title="Favorite Personal Project"
      accent="#1cc88a"
      icon="github"
    >
      <Underline initialWidth="0">
        <a href="?project=VocabVersus#projects"><b>VocabVersus</b></a>
      </Underline>
    </AccentCard>
  </div>
  <div class="col">
    <AccentCard
      title="Lighthouse Score"
      info="average of Performance, Accessibility, Best Practices & SEO scores"
      accent="#f6c23e"
      icon="rocket-takeoff-fill"
    >
      <b>{import.meta.env.PUBLIC_LIGHTHOUSE_SCORE}</b>
    </AccentCard>
  </div>
  <div class="col">
    <AccentCard
      title="Technology Expertise"
      accent="#71c11f"
      icon="gear-wide-connected"
      info="my most used technology"
    >
      <b>.NET</b>
    </AccentCard>
  </div>
</div>
<div class="mt-4 row gx-5 gy-3 w-100 mx-0">
  {
    languageData !== null && (
      <div class="col-md-8">
        <Card
          title="Portfolio Languages"
        >
          <ProjectLanguages data={languageData} client:load />
        </Card>
      </div>
    )
  }
  {
    hostingCosts !== null && (
      <div class="col-md-4">
        <Card
        title="Portfolio Hosting Costs"
        info="total hosting costs per month for Portfolio and related Demo projects"
        >
        <HostingCosts data={hostingCosts} client:load />
        </Card>
        </div>
        )
  }
</div>
