---
import AccentCard from "../AccentCard.astro";
import Card from "../Card.astro";
import Graduation from "../Statistics/Graduation.astro";
import LinkedInPosition from "../Statistics/LinkedInPosition.astro";
import HostingCosts from "../Statistics/HostingCosts";
import ProjectLanguages from "../Statistics/ProjectLanguages";
import Underline from "../Underline.astro";

// Execute data fetching on the server, as to avoid exposing secrets
// Obtain language data for project language split chart
const languageData: { [language: string]: number } | null = await fetch(
  `${import.meta.env.SECRET_DATA_AGGREGATE_URL}/api/RepositoryLanguages`+
  `?user=${import.meta.env.SECRET_REPOSITORY_USER}`+
  `&repo=${import.meta.env.SECRET_REPOSITORY}`+
  `&code=${import.meta.env.SECRET_DATA_AGGREGATE_KEY}`
)
  .then((response) => {
    return response.json();
  })
  .catch((error) => null);

// Obtain hosting data for hosting cost breakdown chart
const hostingCosts: { [service: string]: number } | null = await fetch(
  `${import.meta.env.SECRET_DATA_AGGREGATE_URL}/api/HostingCosts`+
  `?code=${import.meta.env.SECRET_DATA_AGGREGATE_KEY}`
)
  .then((response) => {
    return response.json();
  })
  .catch((error) => null);
---

<div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1 gx-5 gy-3 w-100 mx-0">
  <div class="col">
    <AccentCard
      title="Days untill Graduation"
      accent="#4e73df"
      icon="calendar-fill"
    >
      <Graduation color="#4e73df" />
    </AccentCard>
  </div>
  <div class="col">
    <AccentCard
      title="Favorite Personal Project"
      accent="#1cc88a"
      icon="github"
      iconHref="https://github.com/Thomas-Molen"
    >
      <Underline initialWidth="0">
        <a href="https://vocabversus.thomasmolen.com/" target="_blank"><b>VocabVersus</b></a>
      </Underline>
    </AccentCard>
  </div>
  <div class="col">
    <AccentCard
      title="Lighthouse Score"
      info="average of Performance, Accessibility, Best Practices, SEO"
      accent="#f6c23e"
      icon="rocket-takeoff-fill"
    >
      <b>{import.meta.env.PUBLIC_LIGHTHOUSE_SCORE}</b>
    </AccentCard>
  </div>
  <div class="col">
    <AccentCard
      title="LinkedIn Position"
      info="position in LinkedIn search"
      accent="#00b4d8"
      icon="linkedin"
      iconHref="https://www.linkedin.com/in/thomas-van-der-molen-6427a7181/"
    >
      <LinkedInPosition />
    </AccentCard>
  </div>
</div>
<div class="mt-4 row gx-5 gy-3 w-100 mx-0">
  {
    languageData !== null && (
      <div class="col-md-8">
        <Card
          title="Project Languages"
        >
          <ProjectLanguages data={languageData} client:load />
        </Card>
      </div>
    )
  }
  {
    hostingCosts !== null && (
      <div class="col-md-4">
        <Card
        title="Hosting Costs"
        info="total hosting costs per month for Portfolio and related Demo projects"
        >
        <HostingCosts data={hostingCosts} client:load />
        </Card>
        </div>
        )
  }
</div>
